* {
    scroll-behavior: smooth;
}

header {
    background-color: #6AA84F;
    text-align: center;
    border: 0.5px solid black;
    h1 {
        padding: 30px 0px;
    }
    .titles {
        justify-self: center;
    }
}

.titles {
    color: rgba(44, 95, 102, 1);
    font-family: 'Newsreader', serif;
}

.nombresMaterias {
    color: rgba(29, 116, 64, 1);
    font-family: 'Newsreader', serif;
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    border: black 1px solid;
    th {
        background-color: rgba(232, 232, 232, 1);
        border-collapse: collapse;
        border: black 1px solid;
    }
    td {
        background-color: rgba(244, 244, 244, 1);
        border-collapse: collapse;
        border: black 1px solid;
    }
}

nav {
    align-self: flex-end;
    .nav__menu {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        color: rgba(44, 95, 102, 1);
        list-style-type: none;
        font-family: 'Newsreader', serif;
        font-size: 110%;
        li {
            border: solid 1px black;
            background-color: blanchedalmond;
            padding: 10px 15px;
        }
    }
}

aside {
    background-color: #6AA84F;
    padding: 5px 0px;
    border: 0.5px solid black;
    .aside__menu {
        color: rgba(44, 95, 102, 1);
        list-style-type: none;
        padding: 0;
        font-family: 'Newsreader', serif;
        font-size: 110%;
    }
}

section {
    background-color: #FFD966;
    padding: 20px 10px;
    border: 0.5px solid black;
    .titles {
        text-decoration: underline;
        font-size: 200%;
    }
}

#index_section {
    padding-bottom: 324px;
}

footer {
    background-color: #6AA84F;
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
    border: 0.5px solid black;
    p {
        color: rgba(55, 49, 55, 1);
    }
}

.footer__logo {
    width: 10%;
}

iframe {
    width: 560px;
    height: 315px;
}

.no__a {
    text-decoration: none;
    outline: none;
    color: black;
}

@media (max-width: 768px) {
    #Hheader {
        position: absolute;
        padding: 20px 0px;
    }
    .header__logo {
        opacity: 30%;
    }
    .footer__logo {
        width: 20%;
    }
}

@media (max-width: 992px) and (min-width: 769) {
    #Hheader {
        position: absolute;
        padding: 20px 0px;
    }
    .header__logo {
        opacity: 30%;
    }
    .footer__logo {
        width: 20%;
    }
}