* {
  scroll-behavior: smooth; }

header {
  background-color: #6AA84F;
  text-align: center;
  border: 0.5px solid black; }
  header h1 {
    padding: 30px 0px; }
  header .titles {
    justify-self: center; }

.titles {
  color: #2c5f66;
  font-family: 'Newsreader', serif; }

.nombresMaterias {
  color: #1d7440;
  font-family: 'Newsreader', serif;
  text-decoration: underline; }

table {
  border-collapse: collapse;
  border: black 1px solid; }
  table th {
    background-color: #e8e8e8;
    border-collapse: collapse;
    border: black 1px solid; }
  table td {
    background-color: #f4f4f4;
    border-collapse: collapse;
    border: black 1px solid; }

nav ul li {
  border: solid 1px black;
  background-color: blanchedalmond;
  padding: 8px 15px;
  margin: 0px 20px; }

aside {
  background-color: #6AA84F;
  padding: 5px 0px;
  border: 0.5px solid black; }
  aside .aside__menu {
    color: #2c5f66;
    list-style-type: none;
    padding: 0;
    font-family: 'Newsreader', serif;
    font-size: 110%; }

section {
  background-color: #FFD966;
  padding: 20px 10px;
  border: 0.5px solid black;
  min-height: 445px; }
  section .titles {
    text-decoration: underline;
    font-size: 200%; }

footer {
  background-color: #6AA84F;
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
  border: 0.5px solid black; }
  footer p {
    color: #373137; }

.footer__logo {
  width: 10%; }

iframe {
  width: 560px;
  height: 315px; }

.no__a {
  text-decoration: none;
  outline: none;
  color: black; }

#frente {
  border: solid black 3px; }

#patio {
  border: solid black 3px;
  width: 85%; }

.in__text {
  width: 30%; }

textarea {
  width: 50%;
  height: 30%; }

@media (max-width: 768px) {
  * {
    margin-right: 0px !important; }
  #index_section img {
    width: 100%; }
  #Hheader {
    position: absolute;
    padding: 20px 0px; }
  .header__logo {
    opacity: 30%; }
  .footer__logo {
    width: 20%; } }

@media (max-width: 992px) and (min-width: 769) {
  * {
    margin-right: 0px !important; }
  #index_section img {
    width: 100%; }
  #Hheader {
    position: absolute;
    padding: 20px 0px; }
  .header__logo {
    opacity: 30%; }
  .footer__logo {
    width: 20%; } }
